@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
p, li, span{
  font-family: 'Source Sans Pro', sans-serif;
}

.mtb{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.ptb{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header{
  min-height: 100vh;
  background: linear-gradient(to bottom right, #152347, #5b1965);
  position: relative;
}

.header img{
  height: 400px;
}

.header-content{
  height: 86.5vh;
  width: 100%;
  /* background: linear-gradient(to bottom right, #152347, #5b1965); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 650px){
  .header img{
    height: 300px;
  }
}

.navbar{
  background: none;
}

.navbar a{
  color: white !important;
  font-weight: bolder;
  font-size: 1.3rem;
}

.navbar-menu{
  background: none;
  box-shadow: none;
}

.navbar-item{
  font-size: 1rem !important;
}

a.navbar-item:hover{
  background-color: #3f2b84;
}

.button{
  
  margin: 0.5rem;
}

.button:hover{
  background-color: inherit;
  color: #F901AB;
  transition: color 1s;
  transition: background-color 0.6s;
}

.block{
  margin-top: 1.5rem;
}

.about-event{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column{
  padding: 1.5rem;
  letter-spacing: 0.04ch;
  line-height: 1.5;
}

.contribute{
  background: linear-gradient(to bottom left, #152347, #5b1965);
  height: 55vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.contribute .title{
  margin-bottom: 35px;
  color:#FFE449!important;
}

.contribute .subtitle{
  font-size: 1.3rem;
  color: white !important;
}

footer p{
  font-size: 1rem;
  color: white ;
}

footer h3{
  font-size: 1.3rem;
  color: #FFF723;
}

footer{
 background: linear-gradient(to bottom left, #152347, #5b1965);
}

footer i{
  color: white;
  margin-top: 1rem;
}